jobs:
    build:
        container: quay.io/skopeo/stable:v1.18.0
        continue-on-error: true
        runs-on: ubuntu-latest
        steps:
        -   name: checkout
            uses: actions/checkout@v2
        -   name: login
            run: for i in {1..5}; do skopeo login -u ${{ secrets.REGISTERY_USERNAME }} ccr.ccs.tencentyun.com -p ${{ secrets.REGISTERY_PASSWORD }} || true; done
        -   name: perpare
            run: dnf install pip3 -y && pip3 install redis pyyaml
        -   name: sync
            run: REDIS_HOST=${{ secrets.REDIS_HOST }} REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }} SECRET_ID=${{ secrets.SECRET_ID }} SECRET_KEY=${{ secrets.SECRET_KEY }} python3 sync.py ${{ matrix.syncs }} -v
        strategy:
            matrix:
                syncs:
                - cgr.dev/chainguard/bash
                - cr.kgateway.dev/kgateway-dev/kgateway
                - docker.io/alpine/k8s
                - docker.io/bitnamilegacy/etcd
                - docker.io/bitnamisecure/git
                - docker.io/kindest/node
                - docker.io/library/mysql
                - docker.io/library/nats
                - docker.io/library/python
                - docker.io/library/registry
                - docker.io/natsio/nats-box
                - docker.io/natsio/nats-server-config-reloader
                - gcr.io/kubebuilder/kube-rbac-proxy
            max-parallel: 10
name: random-sync-0
'on':
    pull_request:
        branches:
        - main
    push:
        branches:
        - main
