name: sync
on:
  schedule:
  - cron: '*/30 * * * *'
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    container: debian:stable
    strategy:
     matrix:
        syncs:
          - 'docker.io/volcanosh/vc-webhook-manager'
          - 'docker.io/volcanosh/vc-controller-manager'
          - 'docker.io/volcanosh/vc-scheduler'
          - 'docker.io/library/alpine'
          - 'docker.io/labring/kubernetes-docker'
          - 'docker.io/labring/kubernetes'
          - 'docker.io/labring/helm'
          - 'docker.io/labring/flannel'
          - 'docker.io/labring/calico'
          - 'docker.io/library/ubuntu'
          - 'docker.io/library/centos'
          - 'docker.io/mydlqclub/dnsutils'
          - 'docker.io/bitnami/etcd'
          - 'docker.io/apache/apisix'
          - 'docker.io/flannel/flannel-cni-plugin'
          - 'docker.io/flannel/flannel'
          - 'docker.io/library/debian' 
          - 'skywalking.docker.scarf.sh/apache/skywalking-oap-server'
          - 'skywalking.docker.scarf.sh/apache/skywalking-ui'
          - 'docker.io/library/busybox'
          - 'docker.elastic.co/elasticsearch/elasticsearch'
          - 'quay.io/jetstack/cert-manager-ctl'
          - 'ghcr.io/apache/skywalking-showcase/load-gen'
          - 'ghcr.io/apache/skywalking-showcase/recommendation-service'
          - 'docker.io/apache/rocketmq-exporter'
          - 'docker.io/istio/pilot'
          - 'ghcr.io/apache/skywalking-showcase/gateway-service'
          - 'ghcr.io/apache/skywalking/ui'
          - 'docker.io/rmohr/activemq'
          - 'docker.io/grafana/grafana'
          - 'quay.io/prometheuscommunity/elasticsearch-exporter'
          - 'docker.io/prometheuscommunity/postgres-exporter'
          - 'quay.io/jetstack/cert-manager-webhook'
          - 'docker.io/bitnami/kubectl'
          - 'docker.elastic.co/elasticsearch/elasticsearch'
          - 'docker.io/bitnami/mongodb'
          - 'ghcr.io/apache/skywalking-showcase/app'
          - 'docker.io/library/postgres'
          - 'docker.io/library/golang'
          - 'ghcr.io/apache/skywalking-showcase/songs-service'
          - 'docker.io/pivotalrabbitmq/perf-test'
          - 'ghcr.io/skyapm/r3'
          - 'docker.io/apache/skywalking-swck'
          - 'ghcr.io/apache/skywalking-satellite/skywalking-satellite'
          - 'docker.io/library/mysql'
          - 'docker.io/apache/rocketmq'
          - 'ghcr.io/apache/skywalking-kubernetes-event-exporter/skywalking-kubernetes-event-exporter'
          - 'docker.io/openresty/openresty'
          - 'gcr.io/kubebuilder/kube-rbac-proxy'
          - 'docker.io/fluent/fluent-bit'
          - 'quay.io/prometheus/node-exporter'
          - 'docker.io/bitnami/mongodb-exporter'
          - 'docker.io/curlimages/curl'
          - 'docker.io/apachepulsar/pulsar-all'
          - 'docker.io/prom/mysqld-exporter'
          - 'ghcr.io/apache/skywalking/oap'
          - 'ghcr.io/apache/skywalking-showcase/frontend'
          - 'quay.io/jetstack/cert-manager-controller'
          - 'docker.io/bitnami/jmx-exporter'
          - 'ghcr.io/apache/skywalking-showcase/rating-service'
          - 'docker.io/otel/opentelemetry-collector'
          - 'ghcr.io/apache/skywalking-rover/skywalking-rover'
          - 'ghcr.io/apache/skywalking-cli/skywalking-cli'
          - 'registry.k8s.io/kube-state-metrics/kube-state-metrics'
          - 'docker.io/bitnami/rabbitmq'
          - 'docker.io/kindest/node'
          - 'docker.io/frooodle/s-pdf'
          - 'docker.io/library/python'
          - 'public.ecr.aws/zinclabs/openobserve'
          - 'docker.io/jaegertracing/all-in-one'
          - 'docker.io/kubezoo/kubezoo'
          - 'docker.io/kubezoo/clusterresourcequota'

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: 'update'
      run: apt update -y && apt -y install skopeo curl python3
    - name: 'login'
      run: skopeo login -u ${{ secrets.REGISTERY_USERNAME }} registry.cn-hangzhou.aliyuncs.com -p "${{ secrets.REGISTERY_PASSWORD }}"
    - name: sync
      run: python3 sync.py ${{ matrix.syncs }} -v

